<%@ Master Language="C#" EnableViewState="false" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title><%: Page.Title %></title>
    <asp:ContentPlaceHolder ID="Head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="Form" runat="server">
        <asp:ContentPlaceHolder ID="Content" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
