<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <security>
      <authorization>
        <clear />
        <add users="*" accessType="Allow" />
      </authorization>
    </security>
  </system.webServer>
</configuration>
